[submodule "lowcode-api-parent"]
	path = lowcode-api-parent
	url = git@github.com:cloudstars/lowcode-api-engine-java.git
[submodule "lowcode-form-parent"]
	path = lowcode-form-parent
	url = git@github.com:cloudstars/lowcode-form-engine-java.git
[submodule "lowcode-metadata-parent"]
	path = lowcode-metadata-parent
	url = git@github.com:cloudstars/lowcode-metadata-engine-java.git
[submodule "lowcode-file-parent"]
	path = lowcode-file-parent
	url = git@github.com:cloudstars/lowcode-file-engine-java.git
[submodule "lowcode-excel-parent"]
	path = lowcode-excel-parent
	url = git@github.com:cloudstars/lowcode-excel-engine-java.git
[submodule "lowcode-bpm-parent"]
	path = lowcode-bpm-parent
	url = git@github.com:cloudstars/lowcode-bpm-engine-java.git
[submodule "lowcode-api-proxy-parent"]
	path = lowcode-api-proxy-parent
	url = git@github.com:cloudstars/lowcode-api-proxy-engine-java.git
[submodule "lowcode-api-flow-parent"]
	path = lowcode-api-flow-parent
	url = git@github.com:cloudstars/lowcode-api-flow-engine-java.git
[submodule "lowcode-api-function-parent"]
	path = lowcode-api-function-parent
	url = git@github.com:cloudstars/lowcode-api-function-engine-java.git
